{
  "branches": [
    "master",
    {
      "name": "next",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@overtheairbrew/semantic-release-docker-buildx",
      {
        "registryUrl": "docker.io",
        "name": "overtheairbrew/tilt-bridge"
      }
    ],
    "@semantic-release/github"
  ]
}
